header {font-family: 'Trebuchet MS', 'Arial'}
header h1 {
    text-align: center;
}
header h3 {
    text-align: right;
}
nav ul {
    list-style-type: none; /*remove list msarkers*/
    margin: 0; /*remove useless auto margin*/
    padding-left: 30%; /*remove useless auto padding*/
    text-align: center; /*place menu at the center*/
    background-color: #EFEFEF;
    background-image: url('https://cdn.pixabay.com/photo/2017/09/01/20/23/ford-2705402_960_720.jpg');
    background-size: 30%;
    background-position: center left;
    background-repeat: no-repeat;
    height:50px;
}
nav ul li {
    display: inline-block; /*show in one line*/
    margin: 5px; /*margin between elements*/
    padding: 10px; /*padding inside element*/
    transition: all 0.5s ease-in-out;
    border-bottom: 0 solid red;
}
nav a {
    text-decoration: none; /*remove link underline*/
    font-size: 1.2em;
    color: tomato;
    transition: all 0.5s ease-in-out;
}
nav a:hover {/*link under pointer*/
    color: red;
}
nav ul li:hover { /*element under pointer*/
    border-bottom: 5px solid red;
}
table {
    margin:0 auto;
    border-collapse: collapse;
}